html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
	background-color:#FFF;
    font-family: "Lato", sans-serif;
    font-weight: 300;
	font-size:16px;
	line-height:18px;
    color:#777;
    margin: 0;
}

.content-wrap{
    margin: 0 auto;
    width: 800px;
    padding: 60px 0;
}

p{
	margin:0;
}

.navbar{
    overflow: hidden;
    background-color: rgb(231, 185, 125);
}

.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .btn{
    float: right;
}

a {
    color: #aa0a5f;
}
a, a:hover, a:focus{
	text-decoration: none;
	outline: 0;
}

img{
    width: 300px ;
    float: right;
}
h1 { font-size: 28px;}
h2 { font-size: 24px;}
h3 { font-size: 18px;}

.btn{
    background-color: rgb(219, 63, 36); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}